<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head th:with="layoutTitle='탈모운세'">
    <link rel="stylesheet" th:href="@{/css/fortune/start.css}">
</head>
<body>
<div layout:fragment="content">
    <!-- 포인트 표시 -->
    <div class="point-indicator">
        보유 포인트: <span id="point" th:text="${point}"></span>
    </div>
    
    <!-- 제목 -->
    <h1 class="retro-title blink">탈모운세</h1>
    
    <!-- 운세 표시 영역 -->
    <div class="fortune-display">
        <div id="fortuneItem" class="fw-bold fs-5"></div>
        <div id="fortuneMsg"></div>

        <!-- 버튼 영역 -->
        <div id="btnDiv" class="button-container">
            <th:block th:if="${point >= 10}">
                <button class="retro-button" id="fortuneBtn" onclick="fu_fortuneStart()">★ 운세 보기 ★</button>
            </th:block>
            <th:block th:unless="${point >= 10}">
                <div class="point-warning">※ 포인트가 부족합니다! ※</div>
                <a class="retro-button" th:href="@{/vote}">투표하러 가기</a>
            </th:block>
        </div>
    </div>
    
    <!-- 하단 정보 -->
    <div class="footer-info">
        ※ 운세 1회 사용 시 10 포인트가 차감됩니다 ※
    </div>

    <!-- 운세 시작 -->
    <script th:src="@{/js/fortune/fu_fortuneStart.js}"></script>
</div>
</body>
</html>