<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/noLoginLayout}">
<head th:with="layoutTitle='이용약관 동의'">
	<link rel="stylesheet" th:href="@{/css/member/agree.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="windows95-container">
			<div class="windows95-dialog">
				<div class="title-bar">
					<div class="title-bar-text">이용약관 동의</div>
					</div>
				<div class="dialog-content">
					<form name="agreeForm" class="p-3">
						<h1 class="title text-center mb-5">다음 내용에 동의해주세요.</h1>
						
						<div class="input-group checkbox-group">
						    <div class="checkbox-wrapper">
						        <input type="checkbox" class="form-check-input" id="totalAgreeCheck">
						    </div>
						    <label for="totalAgreeCheck" class="form-check-label">모두동의</label>
						</div>
						
						<div class="input-group checkbox-group with-button">
						    <div class="checkbox-wrapper">
						        <input type="checkbox" class="form-check-input" id="agreeIntegration" name="agreeIntegration">
						    </div>
						    <label for="agreeIntegration" class="form-check-label">모갓슈 통합 서비스 이용약관 동의(필수)</label>
						    <button type="button" id="inteModalBtn" class="windows95-button btn-small">약관보기</button>
						    <div class="warn-msg" id="inteWarnMsg"></div>
						</div>
						
						<div class="input-group checkbox-group with-button">
						    <div class="checkbox-wrapper">
						        <input type="checkbox" class="form-check-input" id="agreeInfo" name="agreeInfo">
						    </div>
						    <label for="agreeInfo" class="form-check-label">개인정보 수집 및 이용 동의(필수)</label>
						    <button type="button" id="infoModalBtn" class="windows95-button btn-small">약관보기</button>
						    <div class="warn-msg" id="infoWarnMsg"></div>
						</div>
						
						<div class="button-group">
						    <button type="button" class="windows95-button primary" onclick="fu_memberAgree()">다음</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<script th:src="@{/js/member/agree/fu_memberAgree.js}"></script>
		<script th:src="@{/js/member/agree/ev_totalAgreeCheck.js}"></script>
		<script th:src="@{/js/member/agree/fu_agreeVali.js}"></script>
		<script th:src="@{/js/member/agree/ev_modal.js}"></script>
		<script th:src="@{/js/member/agree/fu_inteHTML.js}"></script>
		<script th:src="@{/js/member/agree/fu_infoHTML.js}"></script>
	</div>
</body>
</html>
