<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/noLoginLayout}">
<head th:with="layoutTitle='아이디 찾기'">
	<link rel="stylesheet" th:href="@{/css/member/findById.css}">
</head>
<body>
	<div layout:fragment="content">
		<form name="findByIdForm" class="background-border-color p-4 rounded-3">
			<h1 class="title text-center mb-5">아이디찾기</h1>
	
			<div class="row align-items-center mb-3">
			    <label for="memberEmail" class="col-4 text-nowrap fs-3 text-color">이메일</label>
			    <div class="col-8">
			        <input type="text" class="form-control find-id-input" id="memberEmail" name="memberEmail" placeholder="이메일 입력">
			        <div id="emailWarnMsg" class="warn-msg"></div>
			    </div>
			</div>
			
			<div class="row text-center mb-3 g-2">
			    <div class="col-12">
			    	<button type="button" class="btn w-100 findIdBtn" onclick="fu_findById()">아이디찾기</button>
			    </div>
			    <div class="col-12">
			        <a class="btn w-100 findIdBtn" th:href="@{/member/login}">로그인</a>
			    </div>
			</div>
		</form>
	
		<script th:src="@{/js/member/find/fu_findById.js}"></script>
	</div>
</body>
</html>