<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/noLoginLayout}">
<head th:with="layoutTitle='아이디 찾기'">
	<link rel="stylesheet" th:href="@{/css/member/findById.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="d-flex align-items-center justify-content-center">
			<a class="text-nowrap bg-white border border-black px-3 py-2" th:href="@{/member/login}">로그인</a>
		</div>
		<h1 class="text-center mb-5">아이디 찾기</h1>
		
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<form name="findByIdForm" class="card p-4 shadow-sm rounded-3 bg-light">
					<div class="mb-3">
						<label for="memberEmail" class="form-label">이메일</label>
						<input type="email" class="form-control" id="memberEmail" name="memberEmail" placeholder="이메일 입력">
						<div id="emailWarnMsg"></div>
					</div>
					<div class="d-grid gap-2 mb-3">
						<button type="button" class="btn btn-white btn-lg border border-dark" onclick="fu_findById()">아이디 찾기</button>
					</div>
				</form>
			</div>
		</div>
		
		<script th:src="@{/js/member/find/fu_findById.js}"></script>
	</div>
</body>
</html>