<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/noLoginLayout}">

<head th:with="layoutTitle='회원가입'">
	<link rel="stylesheet" th:href="@{/css/member/join.css}">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<meta http-equiv="Content-Security-Policy" content="
	        default-src 'self';
	        script-src 'self' 'unsafe-inline' 'unsafe-eval' t1.daumcdn.net ssl.daumcdn.net;
	        frame-src 'self' postcode.map.daum.net;
	        connect-src 'self' postcode.map.daum.net;
	        img-src 'self' data: *;
	        style-src 'self' 'unsafe-inline';">
</head>

<body>
	<div layout:fragment="content">
		<div class="windows95-container">
			<div class="windows95-dialog">
				<div class="title-bar">
					<div class="title-bar-text">회원가입</div>
					
				</div>
				<div class="dialog-content">
					<form name="joinForm" class="p-3" style="max-height: 70vh; overflow-y: auto;">
						<input type="hidden" name="provider" th:if="${provider != null}" th:value="${provider}" />
						<input type="hidden" name="providerId" th:if="${providerId != null}" th:value="${providerId}" />
						<input type="hidden" name="memberId" th:if="${memberId != null}" th:value="${memberId}" />
						<input type="hidden" name="memberEmail" th:if="${email != null}" th:value="${email}" />
						<input type="hidden" name="memberGender" th:if="${gender != null}" th:value="${gender}" />
						<input type="hidden" name="memberName" th:if="${name != null}" th:value="${name}" />
						<input type="hidden" name="memberBirth" th:if="${birth != null}" th:value="${birth}" />
						<input type="hidden" name="memberTel" th:if="${mobile != null}" th:value="${mobile}" />

						<fieldset>
							<legend>회원 정보</legend>
							<div class="row mb-2">
								<div th:if="${memberId == null}" class="input-group">
									<label for="memberId" class="input-label">
										<img src="/images/icons/key.gif" alt="" style="margin-right: 5px;">아이디
									</label>
									<input type="text" class="windows95-input" id="memberId" name="memberId" placeholder="아이디 입력" required>
									<div id="idWarnMsg" class="warn-msg"></div>
								</div>

								<div th:if="${provider == null}" class="input-group">
									<label for="memberPwd" class="input-label">비밀번호</label>
									<input type="password" class="windows95-input" id="memberPwd" name="memberPwd" placeholder="비밀번호 입력" required>
									<div id="pwdWarnMsg" class="warn-msg"></div>
									<div class="password-hint eight">* 8자리 이상</div>
									<div class="password-hint special">* 영문자,숫자,대문자,특수문자 1개 이상씩 포함</div>
									<div class="password-hint continu">* 연속된 숫자 사용 금지</div>
								</div>

								<div th:if="${provider == null}" class="input-group">
									<label for="memberPwdCheck" class="input-label">비밀번호 확인</label>
									<input type="password" class="windows95-input" id="memberPwdCheck" name="memberPwdCheck" placeholder="비밀번호 다시입력" required>
									<div id="pwdCheckWarnMsg" class="warn-msg"></div>
								</div>

								<div th:if="${name == null}" class="input-group">
									<label for="memberName" class="input-label">이름</label>
									<input type="text" class="windows95-input" id="memberName" name="memberName" placeholder="이름 입력" required>
									<div id="nameWarnMsg" class="warn-msg"></div>
								</div>

								<div th:if="${nickName == null}" class="input-group">
									<label for="memberNickName" class="input-label">닉네임</label>
									<input type="text" class="windows95-input" id="memberNickName" name="memberNickName" placeholder="닉네임 입력" required>
									<div id="nickNameWarnMsg" class="warn-msg"></div>
								</div>

								<div th:if="${mobile == null}" class="input-group">
									<label for="memberTel" class="input-label">전화번호</label>
									<input type="tel" class="windows95-input" id="memberTel" name="memberTel" placeholder="전화번호 입력" required>
									<div id="telWarnMsg" class="warn-msg"></div>
									<small class="form-text">* (-) 하이픈을 빼고 입력해주세요.</small>
								</div>

								<div th:if="${birth == null}" class="input-group">
									<label for="memberBirth" class="input-label">생년월일</label>
									<input type="date" class="windows95-input" id="memberBirth" name="memberBirth" required>
									<div id="birthWarnMsg" class="warn-msg"></div>
								</div>

								<div th:if="${gender == null}" class="input-group">
									<label for="memberGender" class="input-label">성별</label>
									<div class="form-check-group">
										<div class="form-check form-check-inline">
											<input type="radio" class="form-check-input" id="genderMale" name="memberGender" value="남" required>
											<label for="genderMale" class="form-check-label">남</label>
										</div>
										<div class="form-check form-check-inline">
											<input type="radio" class="form-check-input" id="genderFemale" name="memberGender" value="여" required>
											<label for="genderFemale" class="form-check-label">여</label>
										</div>
									</div>
									<div id="genderWarnMsg" class="warn-msg"></div>
								</div>

								<div class="input-group">
									<label for="memberZipcode" class="input-label">우편번호</label>
									<div class="input-with-button">
										<input type="text" class="windows95-input" id="memberZipcode" name="memberZipcode" placeholder="우편번호" required readonly>
										<button type="button" onclick="fu_addrSearch()" class="windows95-button btn-small">찾기...</button>
									</div>
									<div id="zipCodeWarnMsg" class="warn-msg"></div>
								</div>

								<div class="input-group address-group">
									<label for="memberAddress1" class="input-label">주소</label>
									<div class="address-inputs">
										<input type="text" class="windows95-input" id="memberAddress1" name="memberAddress1" placeholder="기본 주소" required readonly>
										<input type="text" class="windows95-input mt-1" id="memberAddress2" name="memberAddress2" placeholder="상세 주소" required>
									</div>
									<div id="addr1WarnMsg" class="warn-msg"></div>
									<div id="addr2WarnMsg" class="warn-msg"></div>
								</div>

								<div th:if="${email == null}" class="input-group">
									<label for="memberEmail" class="input-label">이메일</label>
									<div class="input-with-button">
										<input type="email" class="windows95-input" id="memberEmail" name="memberEmail" placeholder="이메일 주소" required>
										<button class="windows95-button btn-small" type="button" id="sendEmailBtn" onclick="fu_sendEmailBtn()" disabled>인증</button>
									</div>
									<div id="emailWarnMsg" class="warn-msg"></div>
								</div>

								<div th:if="${email == null}" id="emailAuthWrap" class="input-group" style="display: none;">
									<label for="emailAuth" class="input-label">인증번호</label>
									<div class="input-with-button">
										<input type="text" class="windows95-input" id="emailAuth" placeholder="인증번호 입력" required>
										<button class="windows95-button btn-small" type="button" id="emailAuthBtn">확인</button>
									</div>
									<div id="timer" class="warn-msg"></div>
									<div id="authWarnMsg" class="warn-msg"></div>
								</div>
							</div>
						</fieldset>

						<div class="button-group">
							<button class="windows95-button primary" type="button" onclick="fu_memberJoin()">회원가입</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			let idCheck = false;
			let nickNameCheck = false;
			let emailCheck = false;
			let pwdInputCheck = false;
			let pwdCheckEqual = false;
			let emailAuthCheck = false;
			let timerInterval;
		</script>

		<script th:src="@{/js/member/join/fu_memberJoin.js}"></script>
		<script th:src="@{/js/member/join/fu_idValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_pwdValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_pwdCheckValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_nameValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_telValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_birthValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_emailValidation.js}"></script>
		<script th:src="@{/js/member/join/ev_pwdInput.js}"></script>
		<script th:src="@{/js/member/join/ev_idCheck.js}"></script>
		<script th:src="@{/js/member/join/ev_pwdCheck.js}"></script>
		<script th:src="@{/js/member/join/ev_emailCheck.js}"></script>
		<script th:src="@{/js/member/join/fu_sendEmailBtn.js}"></script>
		<script th:src="@{/js/member/join/fu_emailAuthValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_addrSearch.js}"></script>
		<script th:src="@{/js/member/join/fu_addrValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_genderValidation.js}"></script>
		<script th:src="@{/js/member/join/fu_nickNameValidation.js}"></script>
		<script th:src="@{/js/member/join/ev_nickNameCheck.js}"></script>

	</div>
</body>

</html>
