<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head th:with="layoutTitle='회원가입'">
	<link rel="stylesheet" th:href="@{/css/member/join.css}">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="text-center mb-4">회원가입</h1>
		
		<div class="container mb-5" style="max-width: 600px;">
			<form name="joinForm" class="d-flex flex-column justify-content-center gap-4 border border-dark p-4">
				<input type="hidden" name="provider" th:if="${provider != null}" th:value="${provider}" />
				<input type="hidden" name="providerId" th:if="${providerId != null}"  th:value="${providerId}" />
				<input type="hidden" name="memberEmail" th:if="${email != null}" th:value="${email}" />
				<input type="hidden" name="memberGender" th:if="${gender != null}" th:value="${gender}" />
				<input type="hidden" name="memberName" th:if="${name != null}" th:value="${name}" />
				<input type="hidden" name="memberBirth" th:if="${birth != null}" th:value="${birth}" />
				<input type="hidden" name="memberTel" th:if="${mobile != null}" th:value="${mobile}" />
			
				<div>
					<div class="input-wrap d-flex align-items-center">
						<label for="memberId" style="width: 110px;">아이디</label>
						<input class="flex-fill" type="text" id="memberId" name="memberId" placeholder="아이디 입력" required>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>
					<div class="input-wrap d-flex align-items-center">
						<div style="width: 110px;"></div>
						<div id="idCheckMessage"></div>
					</div>
				</div>
				<div th:if="${provider == null}">
					<div class="input-wrap d-flex align-items-center">
						<label for="memberPwd" style="width: 110px;">비밀번호</label>
						<input class="flex-fill" type="password" id="memberPwd" name="memberPwd" placeholder="비밀번호 입력" required>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>	
					<div class="input-wrap d-flex align-items-center">
						<div style="width: 110px;"></div>
						<div class="eight">* 8자리 이상</div>
					</div>	
					<div class="input-wrap d-flex align-items-center">
						<div style="width: 110px;"></div>
						<div class="special">* 영문자+숫자, 대문자, 특수문자 1개 이상씩 포함</div>
					</div>	
					<div class="input-wrap d-flex align-items-center">
						<div style="width: 110px;"></div>
						<div class="continu">* 연속된 숫자 사용 금지</div>
					</div>	
				</div>
				<div th:if="${provider == null}">
					<div class="input-wrap d-flex align-items-center">
						<label for="memberPwdCheck" style="width: 110px;">비밀번호 확인</label>
						<input class="flex-fill" type="password" id="memberPwdCheck" name="memberPwdCheck" placeholder="비밀번호 다시 입력" required>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>
					<div class="input-wrap d-flex align-items-center">
						<div style="width: 110px;"></div>
						<div id="pwdCheckMessage"></div>
					</div>	
				</div>
				<div th:if="${name == null}">
					<div class="input-wrap d-flex align-items-center">
						<label for="memberName" style="width: 110px;">이름</label>
						<input class="flex-fill" type="text" id="memberName" name="memberName" placeholder="이름 입력" required>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>
				</div>
				<div>
					<div class="input-wrap d-flex align-items-center">
						<label for="memberNickName" style="width: 110px;">닉네임</label>
						<input class="flex-fill" type="text" id="memberNickName" name="memberNickName" placeholder="닉네임 입력" required>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>
				</div>
				<div th:if="${mobile == null}">
					<div class="input-wrap d-flex align-items-center">
						<label for="memberTel" style="width: 110px;">전화번호</label>
						<input class="flex-fill" type="tel" id="memberTel" name="memberTel" placeholder="전화번호 입력" required>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>
					<div class="input-wrap d-flex align-items-center">
						<div style="width: 110px;"></div>
						<div style="color: gray; font-size: 0.8em;">* (-) 하이픈을 빼고 입력해주세요.</div>
					</div>
				</div>
				<div th:if="${birth == null}">
					<div class="input-wrap d-flex align-items-center">
						<label for="memberBirth" style="width: 110px;">생년월일</label>
						<input class="flex-fill" type="date" id="memberBirth" name="memberBirth" required>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>
				</div>
				<div th:if="${gender == null}">
					<div class="input-wrap d-flex align-items-center">
						<label for="memberGender" style="width: 110px;">성별</label>
						
						<div class="form-check form-check-inline">
							<input type="radio" id="genderMale" name="memberGender" value="남" class="form-check-input" required>
						    <label for="genderMale" class="form-check-label">남</label>
						</div>
						<div class="form-check form-check-inline">
						    <input type="radio" id="genderFemale" name="memberGender" value="여" class="form-check-input">
						    <label for="genderFemale" class="form-check-label">여</label>
						</div>
					</div>
				</div>
				<div>
					<div class="input-wrap d-flex align-items-center">
						<label for="memberZipcode" style="width: 110px;">우편번호</label>
						<input class="flex-fill" type="text" id="memberZipcode" name="memberZipcode" placeholder="우편번호 입력" required readonly>
						<button type="button" onclick="fu_addrSearch()" class="text-nowrap bg-white border border-black px-3 py-2 d-flex align-items-center justify-content-center" style="margin-left:20px; width: 130px;">주소검색</button>
					</div>
				</div>
				<div>
					<div class="input-wrap d-flex align-items-center">
						<label for="memberAddress1" style="width: 110px;">기본주소</label>
						<input class="flex-fill" type="text" id="memberAddress1" name="memberAddress1" placeholder="기본주소 입력" required readonly>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>
				</div>
				<div>
					<div class="input-wrap d-flex align-items-center">
						<label for="memberAddress2" style="width: 110px;">상세주소</label>
						<input class="flex-fill" type="text" id="memberAddress2" name="memberAddress2" placeholder="상세주소 입력" required>
						<div style="margin-left:20px; width: 130px;"></div>
					</div>
				</div>
				<div class="email-input-wrap" th:if="${email == null}">
					<div class="input-wrap d-flex align-items-center">
						<label for="memberEmail" style="width: 110px;">이메일</label>
						<input class="flex-fill" type="email" id="memberEmail" name="memberEmail" placeholder="이메일 입력" required>
						<button class="email-btn text-nowrap bg-white border border-black px-3 py-2 d-flex align-items-center justify-content-center" type="button" onclick="fu_sendEmailBtn()" style="margin-left:20px; width: 130px;" disabled>인증번호 전송</button>
					</div>
					<div class="input-wrap d-flex align-items-center">
						<div class="d-inline-block" style="width: 110px;"></div>
						<div id="emailCheckMessage"></div>
					</div>
				</div>
				<div class="input-wrap d-flex flex-column">
					<label style="font-weight: bold;">개인정보 수집·이용 동의</label>
					<div id="privacyBox">
						<b>[개인정보 수집·이용 동의]</b><br><br>
						1. 수집 항목<br>
						- 필수정보: 아이디, 비밀번호, 이름, 전화번호, 생년월일, 이메일<br><br>
				
						2. 수집 목적<br>
						- 회원 가입 의사 확인, 본인 식별·인증, 서비스 제공 및 상담<br><br>
				
						3. 보유 및 이용 기간<br>
						- 회원 탈퇴 시까지 (단, 법령에 따라 보존 시 해당 기간까지)<br><br>
				
						4. 귀하는 개인정보 수집·이용에 동의하지 않을 권리가 있으며,<br>
						&nbsp;&nbsp;동의 거부 시 회원가입이 제한될 수 있습니다.
					</div>
					<div class="info-input-wrap d-flex align-items-center">
						<input type="checkbox" id="memberInfoCheck" name="memberInfoCheck" disabled required>
						<label for="memberInfoCheck">위 내용을 읽고 동의합니다.</label>
					</div>
				</div>
	
				<div class="d-flex align-items-center justify-content-center">
					<button class="text-nowrap bg-white border border-black px-3 py-2" type="button" onclick="fu_memberJoin()">회원가입</button>
				</div>
			</form>
		</div>
		
		<script type="text/javascript">
			let pwdInputCheck = false;
			let pwdCheckEqual = false;
			let emailAuthCheck = false;
		</script>
		

		<!-- 회원가입 버튼 -->
		<script th:src="@{/js/member/join/fu_memberJoin.js}"></script>
		<!-- 유효성 경고 문구 -->
		<script th:src="@{/js/member/join/fu_warnCheck.js}"></script>
		<!-- 개인정보 스크롤 이벤트 -->
		<script th:src="@{/js/member/join/ev_infoCheck.js}"></script>
		<!-- 아이디 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_idValidation.js}"></script>
		<!-- 비밀번호 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_pwdValidation.js}"></script>
		<!-- 비밀번호 확인 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_pwdCheckValidation.js}"></script>
		<!-- 이름 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_nameValidation.js}"></script>
		<!-- 전화번호 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_telValidation.js}"></script>
		<!-- 생년월일 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_birthValidation.js}"></script>
		<!-- 이메일 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_emailValidation.js}"></script>
		<!-- 개인정보 수집 동의 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_infoCheckValidation.js}"></script>
		<!-- 비밀번호 입력창 이벤트 체크 -->
		<script th:src="@{/js/member/join/ev_pwdInput.js}"></script>
		<!-- 아이디 중복 체크 -->
		<script th:src="@{/js/member/join/ev_idCheck.js}"></script>
		<!-- 비밀번호 확인 일치여부 이벤트 -->
		<script th:src="@{/js/member/join/ev_pwdCheck.js}"></script>
		<!-- 이메일 중복 확인 이벤트 -->
		<script th:src="@{/js/member/join/ev_emailCheck.js}"></script>
		<!-- 나머지 경고문구 지우기 -->
		<script th:src="@{/js/member/join/ev_warnRemove.js}"></script>
		<!-- 이메일 인증 처리 -->
		<script th:src="@{/js/member/join/fu_sendEmailBtn.js}"></script>
		<!-- 이메일 인증번호 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_emailAuthValidation.js}"></script>
		<!-- 주소 API -->
		<script th:src="@{/js/member/join/fu_addrSearch.js}"></script>
		<!-- 주소 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_addrValidation.js}"></script>
		<!-- 성별 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_genderValidation.js}"></script>
		<!-- 닉네임 유효성 검사 -->
		<script th:src="@{/js/member/join/fu_nickNameValidation.js}"></script>
	</div>
</body>
</html>