<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head th:with="layoutTitle='아이디/비밀번호 찾기'">
</head>
<body>
	<div layout:fragment="content" class="container mt-5">
	
		<h1 class="text-center mb-5">아이디/비밀번호 찾기</h1>
		
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="d-grid gap-2 mb-3">
					<a class="btn btn-white btn-lg border border-dark" th:href="@{/member/findById}">아이디 찾기</a>
					<a class="btn btn-white btn-lg border border-dark" th:href="@{/member/findByPwd}">비밀번호 찾기</a>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>