<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head th:with="layoutTitle='내 정보'">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/member/mypage.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="d-flex gap-5">
				<div class="member-info-container">
					<h1 class="main-title">회원정보</h1>
					<div class="info-scroll-container">
						<div class="info-group">
							<div class="info-label">아이디</div>
							<div class="info-value" th:text="${member.memberNickName}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">이름</div>
							<div class="info-value" th:text="${member.memberName}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">성별</div>
							<div class="info-value" th:text="${member.memberGender}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">우편번호</div>
							<div class="info-value" th:text="${member.memberZipcode}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">기본주소</div>
							<div class="info-value" th:text="${member.memberAddress1}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">상세주소</div>
							<div class="info-value" th:text="${member.memberAddress2}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">전화번호</div>
							<div class="info-value" th:text="${member.memberTel}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">생년월일</div>
							<div class="info-value" th:text="${member.memberBirth}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">이메일</div>
							<div class="info-value" th:text="${member.memberEmail}"></div>
						</div>

						<div class="info-group">
							<div class="info-label">가입일</div>
							<div class="info-value" th:text="${member.memberCreate}"></div>
						</div>
					</div>

					<div class="button-group">
						<a class="btn btn-custom"
							th:href="@{/member/update(memberId=${member.memberId})}"> 수정
						</a>
						<form id="deleteForm" action="/member/delete" method="post"
							style="display: inline;">
							<input type="hidden" name="memberId"
								th:value="${member.memberId}">
							<button type="button" class="btn btn-delete"
								th:onclick="'if(confirm(\'정말 탈퇴하시겠습니까? 이 작업은 되돌릴 수 없습니다.\')) document.getElementById(\'deleteForm\').submit();'">
								탈퇴</button>
						</form>
					</div>
				</div>
				<div class="member-info-container">
					<h1 class="main-title">탈모분석결과</h1>
					<div class="info-scroll-container">
						<div>
							내 이미지 <img th:src="@{${picture.hairPicture}}" class="w-100">
						</div>
						<div>
							<div id="hairMsg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			let hairStage = "[[${stage.hairStage}]]".trim();
		</script>
		<script th:src="@{/js/member/mypage/hairMypage.js}"></script>
	</div>
</body>
</html>