<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/noLoginLayout}">
<head th:with="layoutTitle='비밀번호 수정'">
<link rel="stylesheet" th:href="@{/css/member/pwdUpdateForm.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="windows95-container">
        <div class="windows95-dialog">
            <div class="title-bar">
                <div class="title-bar-text">
                    <span>🔑</span>
                    <span>Update Password</span>
                </div>
                <div class="title-bar-controls">
                    <div class="title-bar-control">?</div>
                    <div class="title-bar-control">✕</div>
                </div>
            </div>
            
            <div class="dialog-content">
                <form name="pwdUpdateForm">
                    <div class="dialog-icon">🔐</div>
                    <div class="dialog-text">
                        Enter your new password to update your account.
                    </div>
                    
                    <div class="input-group">
                        <label class="input-label" for="memberPwd">비밀번호:</label>
                        <div class="input-field">
                            <input type="password" class="windows95-input" id="memberPwd" name="memberPwd" placeholder="비밀번호 입력">
                            <div id="pwdWarnMsg" class="warn-msg"></div>
                            <div class="password-requirements">
                                <div class="requirement-item eight">* 8자리 이상</div>
                                <div class="requirement-item special">* 영문자,숫자,대문자,특수문자 1개 이상씩 포함</div>
                                <div class="requirement-item continu">* 연속된 숫자 사용 금지</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="input-group">
                        <label class="input-label" for="memberPwdCheck">비밀번호확인:</label>
                        <div class="input-field">
                            <input type="password" class="windows95-input" id="memberPwdCheck" name="memberPwdCheck" placeholder="비밀번호 다시입력">
                            <div id="pwdCheckWarnMsg" class="warn-msg"></div>
                        </div>
                    </div>
                    
                    <div id="pwdUpdateError" class="warn-msg error-center"></div>
                    
                    <div class="button-group">
                        <button type="button" class="windows95-button primary" id="sendEmailBtn" onclick="fu_pwdUpdate()">비밀번호수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        let pwdInputCheck = false;
        let pwdCheckEqual = false;
    </script>
    
    <!-- 비밀번호 수정 버튼 -->
    <script th:src="@{/js/member/find/fu_pwdUpdate.js}"></script>
    <!-- 비밀번호 빈값 체크 -->
    <script th:src="@{/js/member/find/fu_pwdVali.js}"></script>
    <!-- 비밀번호 확인 빈값 체크 -->
    <script th:src="@{/js/member/find/fu_pwdCheckVali.js}"></script>
    <!-- 비밀번호 입력값 체크 -->
    <script th:src="@{/js/member/find/ev_pwd.js}"></script>
    <!-- 비밀번호 확인 입력값 체크 -->
    <script th:src="@{/js/member/find/ev_pwdCheck.js}"></script>
</div>
</body>
</html>