HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# 구글 드라이브 인증 파일
src/main/resources/static/googleDrive/
*.json

### STS ###
.metadata
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/src/main/resources/application.properties
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/