# 빌드 & 로그
.gradle/
build/
logs/

# 환경 설정 보호
/src/main/resources/application.properties

# IDE & 툴 관련
.idea/
.vscode/
.metadata/
.apt_generated/
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# STS, IntelliJ, NetBeans, VS Code 관련
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# bin & out
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
out/
!**/src/main/**/out/
!**/src/test/**/out/

# wrapper
!gradle/wrapper/gradle-wrapper.jar

# 개발용 db공유 exe 설치 파일
cloud-sql-proxy.exe
