@charset "UTF-8";

.text-color{
	color: rgb(255, 255, 255);
}

.title{
	color: yellow;
}

.background-border-color {
	background-color: #808080;
	border: 10px solid #c0c0c0;
} 

.completeBtn {
	background-color: #c0c0c0;
	border: 10px solid #c0c0c0;
} 

.completeBtn:hover{
	background-color: rgb(102, 102, 102);
	border-color: rgb(153, 153, 153);
}

