@charset "UTF-8";

.complete-id{
	display: flex;
	justify-content: center;
	align-items: center; 
	
}

.complete-menu-btn {
	display: flex; 
	justify-content: center; 
	align-items: center;
	gap: 30px;
}


.complete-menu-btn a{
	white-space: nowrap;
	background: white;
	border: 1px solid black;
	padding: 7px 15px;
	text-decoration: none;
	color: black;
}

.complete-menu-btn a:hover{
	cursor: pointer;
	text-decoration: underline;
}

.complete-wrap{
	display:flex;
	flex-direction: column;
	align-items: center;
}

