@charset "UTF-8";

.background-border-color {
	background-color: rgb(54,45,62);
	border: 10px solid rgb(195,54,38);
}

.title{
	color: rgb(233,161,59);
}

.join-input {
	background-color: rgb(54,45,62);
	border: 10px solid rgb(195,54,38);
	color: white;
}

.join-input::placeholder {
	color: white;
	opacity: 1;
}

.join-input:focus {
	box-shadow: rgb(54,45,62);
	background-color: rgb(54,45,62);
	border: 10px solid rgb(195,54,38);
	color: white;
}

.background-border-color {
	background-color: rgb(54,45,62);
	border: 10px solid rgb(195,54,38);
} 

.join-btn:hover{
	background-color: rgb(53,34,44);
	border-color: rgb(146,40,27);
}

.join-btn{
	background-color: rgb(54,45,62);
	border: 10px solid rgb(195,54,38);
	color: white;
}