@charset "UTF-8";

#idWarnMsg, #pwdWarnMsg {
	color: red;
	font-size: 0.8em;
	padding: .375rem .75rem;
}

.title{
	color: rgb(233,161,59);
}

.background-border-color {
	background-color: rgb(54,45,62);
	border: 10px solid rgb(195,54,38);
} 

.loginFormBtn:hover{
	background-color: rgb(53,34,44);
	border-color: rgb(146,40,27);
}


.login-input{
	background-color: rgb(54,45,62);
	border: 10px solid rgb(195,54,38);
	color: white;
}

.login-input::placeholder {
	color: white;
	opacity: 1;
}

.login-input:focus {
	box-shadow: rgb(54,45,62);
	background-color: rgb(54,45,62);
	border: 10px solid rgb(195,54,38);
	color: white;
}

