<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}" th:with="layoutTitle='포인트상품완료'">
<body>
	<div layout:fragment="content">

		<div class="col-12 col-md-6">
			<h1 class="my-4 text-center">포인트상품구매완료</h1>

			<div class="card shadow-sm mb-5">
				<div class="card-body">
					<!-- 상품 이미지 -->
					<div class="mb-4 text-center">
						<label class="form-label fw-bold">이미지</label>
						<div>
							<img th:if="${pointShop.imgFile != null}"
								th:src="${pointShop.imgFile.pointItemImgPath}"
								class="img-fluid border rounded"
								style="max-width: 300px; object-fit: contain;" alt="상품 이미지">
						</div>
					</div>

					<!-- 상품 정보 목록 -->
					<div class="mb-3">
						<label class="form-label fw-bold">상품 이름</label>
						<p class="form-control-plaintext"
							th:text="${pointShop.pointItemName}">상품 이름</p>
					</div>

					<div class="mb-3">
						<label class="form-label fw-bold">상품 가격</label>
						<p class="form-control-plaintext"
							th:text="${pointShop.pointItemPrice + 'P'}">가격</p>
					</div>

					<!-- 버튼 -->
					<div class="d-flex justify-content-center aling-items-center gap-2">
						<a class="btn btn-primary" th:href="@{/point/shop/buyList}">
							구매내역보기 </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
