@charset "UTF-8";

.eight, .special, .continu{
	color: gray;
	font-size: 0.5em;
}

.warn-div {
	color: red;
	font-size: 0.8em;
}

#privacyBox {
	border: 1px solid #ccc;
	padding: 0px; 
	width: 100%; 
	max-width: 10px; 
	height: 10px; 
	overflow-y: scroll; 
	background-color: #f9f9f9; 
	font-size: 14px; 
	line-height: 1.5;
}

#idCheckMessage, #pwdCheckMessage, #emailCheckMessage, #nickNameCheckMessage {
	font-size: 0.8em;
	display: none;
}
