<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/layout}">
<head th:with="layoutTitle='포인트상품상세'">
</head>
<body>
	<div layout:fragment="content" class="container py-4">

		<h1 class="text-center mb-4">포인트 상품 상세</h1>

		<div class="row justify-content-center">
			<div class="col-lg-8">

				<!-- 상품 이미지 -->
				<div class="mb-4 text-center">
					<label class="form-label fw-bold">이미지</label>
					<div>
						<img
							th:src="${itemImg != null} ? ${itemImg.pointItemImgPath} : ''"
							class="img-fluid border rounded"
							style="max-width: 300px; object-fit: contain;" alt="상품 이미지">
					</div>
				</div>

				<!-- 상품 정보 목록 -->
				<div class="mb-3">
					<label class="form-label fw-bold">상품 이름</label>
					<p class="form-control-plaintext"
						th:text="${pointItem.pointItemName}">상품 이름</p>
				</div>

				<div class="mb-3">
					<label class="form-label fw-bold">유의사항</label>
					<p class="form-control-plaintext"
						th:text="${pointItem.pointItemDescription}">유의사항</p>
				</div>

				<div class="mb-3">
					<label class="form-label fw-bold">상품 가격</label>
					<p class="form-control-plaintext"
						th:text="${pointItem.pointItemPrice + 'P'}">가격</p>
				</div>

				<div class="mb-3">
					<label class="form-label fw-bold">재고 수량</label>
					<p class="form-control-plaintext"
						th:text="${pointItem.pointItemStock}">재고</p>
				</div>

				<div class="mb-3">
					<label class="form-label fw-bold">등록일</label>
					<p class="form-control-plaintext"
						th:text="${pointItem.pointItemCreate}">등록일</p>
				</div>

				<div class="mb-3">
					<label class="form-label fw-bold">수정일</label>
					<p class="form-control-plaintext"
						th:text="${pointItem.pointItemUpdate}">수정일</p>
				</div>

				<div class="mb-3">
					<label class="form-label fw-bold">판매 여부</label>
					<p class="form-control-plaintext"
						th:text="${pointItem.pointItemSaleStatus == 'Y' ? '판매중' : '판매중지'}">판매
						상태</p>
				</div>

				<div class="mb-4">
					<label class="form-label fw-bold">카테고리</label>
					<p class="form-control-plaintext"
						th:text="${pointCategory != null ? pointCategory.pointCategoryName : '카테고리 없음'}">카테고리</p>
				</div>

				<!-- 버튼 -->
				<div class="d-flex justify-content-center aling-items-center gap-2">
					<a class="btn btn-primary"
						th:href="@{/admin/point/item/update/{id}(id=${pointItem.pointItemId})}">
						수정하기 
					</a>
					<form th:action="@{/admin/point/item/delete/{id}(id=${pointItem.pointItemId})}" method="post">
						<button type="submit" class="btn btn-outline-secondary" onclick="return confirm('정말 삭제하시겠습니까?');">삭제하기</button>
					</form>
				</div>
			</div>
		</div>

		<!-- 삭제하기 버튼 클릭 -->
		<script th:src="@{/js/admin/point/item/detail/fu_confirmDelete.js}"></script>
	</div>
</body>
</html>
