<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head th:with="layoutTitle='포인트 사용내역'">
	<link rel="stylesheet" th:href="@{/css/point/point.css}">
</head>
<body>
	<div layout:fragment="content" class="pixel-bg">
		<div class="point-container">
		<h1 class="point-title">포인트내역</h1>
		<div class="point-history-area">
		<table class="win95-table">
		    <thead>
		        <tr>
		            <th>내역</th>
		            <th>포인트변동</th>
		            <th>타입</th>
		            <th>날짜</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="point : ${pointHistoryList}">
		            <td th:text="${point.reason}">내역</td>
		            <td th:text="${point.changePoint}">포인트변동</td>
		            <td th:text="${point.type}">타입</td>
		            <td th:text="${#temporals.format(point.pointCreate, 'yyyy-MM-dd HH:mm')}">날짜</td>
		        </tr>
		        
		        <!-- 결과가 없을 경우 -->
		        <tr th:if="${#lists.isEmpty(pointHistoryList)}">
		            <td colspan="5" class="text-center">포인트 사용 내역이 없습니다.</td>
		        </tr>
		    </tbody>
		</table>

		
		<div class="pagination">
		    <!-- 이전 버튼 -->
		    <span th:if="${startPage > 0}">
		        <a th:href="@{|/point/list?memberId=${memberId}&page=${startPage - 1}|}">&laquo; 이전</a>
		    </span>
		
		    <!-- 페이지 번호 -->
		    <span th:each="i : ${#numbers.sequence(startPage, endPage - 1)}">
		        <a th:href="@{|/point/list?memberId=${memberId}&page=${i}|}"
		           th:text="${i + 1}"
		           th:classappend="${i} == ${currentPage} ? 'active' : ''"></a>
		    </span>
		
		    <!-- 다음 버튼 -->
		    <span th:if="${endPage < totalPages}">
		        <a th:href="@{|/point/list?memberId=${memberId}&page=${endPage}|}">다음 &raquo;</a>
		    </span>
		</div>
	</div>
	</div>
	</div>
</body>
</html>
